body {
  margin: 0;
  font-family: Share Tech Mono, monospace;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outline{
  outline:1px solid black;
}
